<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects Page - Holistik</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/profileStyling.css">
    <link rel="stylesheet" href="/stylesheets/headerStyling.css">
    <link rel="stylesheet" href="/stylesheets/footerStyling.css">

    <script src="/javascripts/projectPageController.js"></script>
</head>
<body>

<!-- ejs to present the profile page which shows the information about the user and the notes created by the user -->

<header>
    <% include ../partials/header.ejs %>
</header>

<div class="wrapper">

    <!-- this container holds all the profile content -->
    <div class="container-fluid" id="contentHolder">

        <!-- this section contains the notebook header text and the search box -->
        <div id="projectsHeader">
            <h1 id="headerText">Projects</h1>
            <div class="searchBox">
                <input type="text" name="searchProjects" aria-label="Search my projects">

                <!-- insert search icon to search box -->
                <i class="fa fa-search"></i>

            </div>
        </div>


        <div id="projectsTabPanel">
            <div id="projectsTabs">
                <p id="myProjectsTab" class="projectsTab" href="#" role="tab">My Projects</p>
            </div>
        </div>

        <div class="divisionLine"></div>


        <!-- render all the notebooks into an unordered list, based on the data being passed from the controller -->
        <div class="projectsList">
            <ul class="projectsList">
                <% writeProjects.forEach(function(project) { %>
                    <li>
                        <!-- each item in the list is a div box, containing the name of the project, an image (if it exists), and the rendered timestamp -->
                        <div class="projectPreviewBox" projectName="<%= project.projectName %>" projectId="<%= project.projectId %>">
                            <div class="projectNameText"> <%= project.projectName %> </div>
                            <img src="<%= project.projectImage %>" alt="No project preview available at this time" width="100" height="80">
                            <div class="projectTimestampText"> <%= project.timestamp %> </div>
                            <div class="btn loadProjectBtn">Load</div>
                            <form method="post" action="/deleteProject" enctype="application/x-www-form-urlencoded">
                                <input type="hidden" name="projectId" value="<%= project.projectId %>">
                                <input class="btn" type="submit" value="Delete">
                            </form>
                        </div>
                    </li>
                    <br>
                <% }); %>
            </ul>
        </div>

        <div class="newProjectBtnBox">

            <!-- need a function here to let the create create window to popup -->
            <a class="btn" id="newProjectBtn" onclick="showMeThePopUpWindow()">Create new project</a>

        </div>
    </div>
</div>

<div class="layer" id="create">

    <div class="container" id="createContent">
        <a id="aCross" onclick="unseeThePopUpWindow()">X</a>
        <p id="newProject">New Project Name</p>

        <form method="post" action="/createProject" enctype="application/x-www-form-urlencoded">
            <input type="text" id="newProject" name="projectName">
            <input class="btn" type="submit" value="Create">
        </form>

    </div>

</div>

<footer>
    <% include ../partials/footer.ejs %>
</footer>

</body>